@mixin flexrow($justify){
    display: flex;
    flex-direction: row;
    justify-content: $justify;
}

@mixin flexcol($align) {
    display: flex;
    flex-direction: column;
    justify-content: $align;
}

@mixin mobile {
    @media (max-width: 480px) {
      @content;
    }
  }

$blue: rgb(76, 172, 236);
$dark-blue: rgb(67, 147, 201);
$grey: rgba(144, 155, 163, 0.3);
$alert: #eb7474;
$shadow:  #D2D0DB;

